*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #7a797963;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

p {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.5rem;
}
