.root {
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  overflow: hidden;
  /* Base font styles */
  color: var(--tweet-font-color);
  font-family: var(--tweet-font-family);
  font-weight: 400;
  box-sizing: border-box;
  border: var(--tweet-border);
  border-radius: 12px;
  background-color: var(--tweet-bg-color);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  padding: 0.7rem;
}

.article {
  position: relative;
  box-sizing: inherit;
}

@media (width >= 40rem) {
  .root {
    /*padding: 0.75rem 1rem;*/
  }
}
