.root {
  font-weight: inherit;
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  padding: 0 2px;
}
.root:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}
