.actions {
  display: flex;
  align-items: center;
  color: var(--tweet-font-color-secondary);
  gap: 0.5rem;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions svg {
  fill: var(--tweet-font-color-secondary);
  width: var(--tweet-actions-icon-size);
  height: var(--tweet-actions-icon-size);
}

.like,
.reply,
.copy {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.like:hover,
.reply:hover,
.copy:hover {
  background-color: rgba(0, 0, 0, 0);
}
.like:hover > .likeIconWrapper {
  color: var(--tweet-color-red-primary);
  background-color: var(--tweet-color-red-primary-hover);
}
.like:hover > .likeCount {
  color: var(--tweet-color-red-primary);
  text-decoration-line: underline;
}

.likeIconWrapper,
.replyIconWrapper,
.copyIconWrapper {
  width: var(--tweet-actions-icon-wrapper-size);
  height: var(--tweet-actions-icon-wrapper-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.25rem;
  border-radius: 9999px;
}
.likeIcon,
.replyIcon,
.copyIcon {
  height: var(--tweet-actions-icon-size);
  fill: currentColor;
  user-select: none;
}
.likeIcon {
  color: var(--tweet-color-red-primary);
}
.likeCount,
.replyText,
.copyText {
  font-size: var(--tweet-actions-font-size);
  line-height: var(--tweet-actions-line-height);
}

.reply:hover > .replyIconWrapper {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.reply:hover > .replyText {
  color: var(--tweet-color-blue-secondary);
  text-decoration-line: underline;
}

.copy {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
.copy:hover > .copyIconWrapper {
  background-color: var(--tweet-color-green-primary-hover);
}
.copy:hover .copyIcon {
  color: var(--tweet-color-green-primary);
}
.copy:hover > .copyText {
  color: var(--tweet-color-green-primary);
  text-decoration-line: underline;
}
