.header {
  --avatar-size: 40px;

  display: flex;
  padding-bottom: 0.75rem;
  align-items: center;
  line-height: 1.25rem;
  font-size: 0.9375rem;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.inQuote.header {
  --avatar-size: 36px;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.avatar {
  position: relative;
  min-height: var(--avatar-size);
  min-width: var(--avatar-size);
}

.avatarOverflow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}
.avatarSquare {
  border-radius: 4px;
}
.avatarShadow {
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
}
.avatarShadow:hover {
  background-color: rgba(26, 26, 26, 0.15);
}

.avatarImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.author {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  height: fit-content;
  gap: 0.1rem;
}

.authorInline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.authorLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.authorLink:hover {
  text-decoration-line: underline;
}
.authorVerified {
  display: inline-flex;
}
.authorLinkText {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.authorMeta {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.authorFollow {
  display: flex;
}
.username {
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
  text-overflow: ellipsis;
}
.follow {
  color: var(--tweet-color-blue-secondary);
  text-decoration: none;
  font-weight: 700;
}
.follow:hover {
  text-decoration-line: underline;
}
.separator {
  padding: 0 0.25rem;
}

.brand {
  margin-inline-start: auto;
}

.twitterIcon {
  width: 23.75px;
  height: 23.75px;
  color: var(--tweet-twitter-icon-color);
  fill: currentColor;
  user-select: none;
}

.createdAt {
  color: var(--tweet-font-color-secondary);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
}

@media (width >= 40rem) {
  .header {
    --avatar-size: 48px;
  }
}
